cxleague/node_modules
cxleague/public/storage
cxleague/public/hot
cxleague/public/uploads/images/*.jpg
cxleague/public/uploads/tmp/*.jpg
cxleague/storage/*.key
cxleague/vendor
/.idea
cxleague/.idea
cxleague/Homestead.json
cxleague/Homestead.yaml
cxleague/.env
