.new-post {
  margin-top: 2rem;
}

.post {

  .comment {
    border: 1px solid $border-color;
    padding: 0.5rem;

    .comment-author {
      color: #aeb4bf;
      font-size: 14px;
      margin: 0 0 0.25rem;
    }

    .comment-content {
      margin: 0 0 0.25rem;
    }

    .comment-actions {
      display: inline-block;
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 0.75rem;

      .reply {
        font-weight: 600;
      }

      a {
        color: #666;
        margin-right: 1rem;
      }
    }
  }

  .c-1 {
    margin-bottom: 1rem;
  }
}

.forum-post {
  h4 {
    margin: 2rem 0 0;
  }
  .panel {
    margin-top: 1rem;
  }
}

.board-post {
  margin-bottom: 1rem;

  p {
    margin: 0;
    font-size: 0.75rem;
  }

  .post-title {
    font-size: 1.25rem;
  }
}