.post {

  .comment {
    border: 1px solid $border-color;
    padding: 0.5rem;
  }

  .c-1 {
    margin-bottom: 1rem;
  }

  //@for $i from 1 through 100 {
  //  @if $i < 5 {
  //    $padding: 10px * ($i - 1);
  //    .c-#{$i} {
  //      margin-left: $padding;
  //    }
  //  } @else {
  //    $padding: 60px;
  //    .c-#{$i} {
  //      margin-left: $padding;
  //    }
  //  }
  //}
}