.new-post {
  margin-top: 2rem;
}

.post {

  .comment {
    border: 1px solid $border-color;
    padding: 0.5rem;
  }

  .c-1 {
    margin-bottom: 1rem;
  }
}

.show-reply {
  display: inline-block;
  font-size: 14px;
  color: #666;
}