.reveal {
  outline: none;
}

.row-full {
  width: 100%;
}

.nomargin {
  margin: 0;
}

.padbot {
  padding-bottom: 2rem;
}

.main-top-padder {
  padding-top: 65px;
}

.main-mb {
  margin-bottom: 2rem;
}

.extra-padder {
  height: 57px;
}

.icon {
  display: inline-block;
  margin-right: 4px;
}

.login-helper {
  text-align: center;
  color: #555;
  font-size: 14px;
}

.alerts {
  display: inline-block;
  margin-right: 1.5rem;
}

img.grayscale {
  cursor: pointer;
  border-radius: 2px;
  filter: gray;
  -webkit-filter: grayscale(100%);
  transition: all 0.6s ease-in-out;
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  transition: all 0.6s ease-in-out;
}

.toast {
  opacity: 1 !important;
}

#toast-container > div {
  opacity: 1 !important;
}

.hidden {
  display: none;
}

.team-center {
  font-size: 1.5rem;
}

.team-logo-small {
  width: 40px;
  height: 40px;
}

.smalltext {
  font-size: 12px;
  color: #b7b7b7;
}

.greytext, .graytext {
  color: #a7b2b8;
}

.biggertext {
  font-size: 18px;
}

.select2-container {
  margin-bottom: 1rem;
}

.select2-container .select2-selection--single {
  height: 39px;
}

.select2-container--default .select2-selection--single {
  border-radius: 2px;
  border: 1px solid #ced4d4;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 5px;
  padding-bottom: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 6px;
}

[v-cloak] {
  opacity: 0;
  display: none;
}

.tinyfont {
  font-size: 10px;
}

.blacklink {
  color: #000;

  &:hover,&:active,&:focus {
    text-decoration: underline;
    color: #000;
  }
}

.tt-wrap {
  position: relative;
}


.tt-text {
  transition: opacity 0.4s ease-in-out;
  color: #444;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background: #FFF;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 2px 5px;
  border-radius: 2px;
  font-weight: normal;
  font-size: 14px;
  width: 400px;
  pointer-events: none;
}

.tt {
  cursor: help;
  color: $cxred;

  &:hover + .tt-text {
    opacity: 1.0;
  }
}

.pushed {
  padding-top: 76px;
}

#toast-container {

  & > div {
    &.toast {
      background-color: #FFF;
    }
    &.toast-success {
      background-color: #FFF;
      border: 1px solid #51A351;
      color: #51A351;

      &:before {
        content: '\f122';
        font-family: 'Ionicons';
        color: #51A351;
        position: absolute;
        left: 1rem;
        top: 9px;
        font-size: 1.5rem;
      }

      .toast-progress {
        background-color: #51A351;
        opacity: 1;
      }
    }
    &.toast-error {
      background-color: #FFF;
      border: 1px solid #BD362F;
      color: #BD362F;

      &:before {
        content: '\f12a';
        font-family: 'Ionicons';
        color: #BD362F;
        position: absolute;
        left: 1rem;
        top: 12px;
        font-size: 1.5rem;
      }

      .toast-progress {
        background-color: #BD362F;
        opacity: 1;
      }
    }
    &.toast-info {
      background-color: #FFF;
      border: 1px solid #2F96B4;
      color: #2F96B4;

      &:before {
        content: '\f149';
        font-family: 'Ionicons';
        color: #2F96B4;
        position: absolute;
        left: 1rem;
        top: 9px;
        font-size: 1.5rem;
      }

      .toast-progress {
        background-color: #2F96B4;
        opacity: 1;
      }
    }
    &.toast-warning {
      background-color: #FFF;
      border: 1px solid #F89406;
      color: #F89406;

      &:before {
        content: '\f101';
        font-family: 'Ionicons';
        color: #F89406;
        position: absolute;
        left: 1rem;
        top: 9px;
        font-size: 1.5rem;
      }

      .toast-progress {
        background-color: #F89406;
        opacity: 1;
      }
    }
  }
}