#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(/images/carbonpattern.png) no-repeat;
  background-size: cover;
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  img {
    margin: 0 0 1rem 0;
  }
  p {
    margin: 0;
    color: #fff;
  }
  a {
    margin: 0 0.25rem;
    font-weight: bold;
  }
}