section.hero {
  //background: linear-gradient(rgba(34,36,43,0.55),rgba(34,36,43,0.55)),url(/images/homepage.png);
  //background: url(/images/homepage.jpg);
  //background: linear-gradient(to right, rgba(20,93,190,0.5) 0%,rgba(212,31,38,0.5) 100%);
  background-size: cover;
  color: #FFF;
  //padding: 10rem 0;
  height: 62vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .darkwrap {
    @include parallax(-0.8);
    background: #0A0A0A;
    z-index: -900;
    position: absolute;
    width: 101%;
    height: 80vh;
    top: -10%;
    left: 0; bottom: 0; right: 0;
  }

  .paraa {
    @include parallax(-0.8);
    position: absolute;
    width: 101%;
    height: 80vh;
    //z-index: -1;
    top: -10%;
    left: 0; bottom: 0; right: 0;
    background: linear-gradient(to right, rgba(20,93,190,0.5) 0%,rgba(212,31,38,0.5) 100%),url(/images/homepage.png);
    background-size: cover;
    background-position: center center;

  }

  .hero-content {
    //margin-top: rem-calc(65);

    h4 {
      margin-bottom: 1rem;
      font-size: 38px;
      font-weight: bold;
    }

    .hero-intro {
      margin-bottom: 0.5rem;
      font-size: 18px;
      font-weight: 600;
    }

    .hero-more {
      margin-bottom: 2rem;
      font-size: 19px;
    }
  }
}

.home-cta-button {
  background-color: $celblue;
  color: $celwhite;
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(33,33,33,0.3);
  padding: 11px 23px;
  font-size: 1.125rem;
  border-radius: 3px;
  display: inline-block;

  &:hover {
    color: #FFF;
    background-color: darken($celblue, 10%);
  }
}

.home-section {
  background-color: #FFF;
  padding: 3rem 0;

  h3 {
    color: #2d2d2d;
    font-size: rem-calc(30);
    margin-bottom: 0.75rem;
    font-weight: 600;
    text-align: center;
  }

  .button-outline {
    width: 175px;
  }
}

.home-section-alt {
  background-color: #f7f8f9;

  .button-outline {
    width: auto;
  }
}

.home-content-pad {
  margin: 3rem 0;

  h5 {
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 22px;
  }

  p {
    margin-bottom: 4.5rem;
    font-size: 18px;

    &:last-child {
      margin: 0;
    }
  }
}

.home-content-horizontal {
  margin: 3rem 0 2rem ;

  h5 {
    color: #666;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 1.5rem 0;
  }

  p {
    color: #777;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
  }
}

.home-callout {
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .parallax-section {
    @include parallax(-0.8);
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 100vh;
    overflow: hidden;
  }

  .home-callout-1 {
    background: linear-gradient(to right, rgba(20,20,20,0.7) 0%,rgba(20,20,20,0.7) 100%), url(/images/esportsplayer.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center center;
  }

  .home-callout-2 {
    background: linear-gradient(to right, rgba(20,20,20,0.7) 0%,rgba(20,20,20,0.7) 100%), url(/images/gobg.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center center;
  }

  h3 {
    font-size: 2rem;
    letter-spacing: 0.8px;
    font-weight: bold;
    color: #FFF;
  }
}