.queue-status-header {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 0;
}

.player-hover {
  color: $vxblue;
}

.leaderboard {
  tr.active-user {
    outline: thin solid $vxblue;
  }
}

span.selectedMap {
  font-weight: bold;
  font-size: 18px;
  color: $vxblue;
}

.ready-status {
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0.75rem;
  line-height: 61px;
  top: 0;

  &.ready {
    color: $newgreen;
  }

  &.notready {
    color: $celred;
  }
}

.popflash-instructions {
  text-align: left;
  h4 {
    text-align: center;
  }
  .popflash-notes {
    font-size: 14px;
    margin-top: 2rem;
    color: #b8b8b8;
  }
}