.queue-status-header {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 0;
}

.player-hover {
  color: $vxblue;
}

.leaderboard {
  tr.active-user {
    outline: thin solid $vxblue;
  }
  .streak-pos {
    color: $newgreen;
  }
  .streak-neg {
    color: $celred;
  }
  .nostreak {
    color: #676767;
  }
}

span.selectedMap {
  font-weight: bold;
  font-size: 18px;
  color: $vxblue;
}

.ready-status {
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0.75rem;
  line-height: 61px;
  top: 0;

  &.ready {
    color: $newgreen;
  }

  &.notready {
    color: $celred;
  }
}

.popflash-instructions {
  text-align: left;
  h4 {
    text-align: center;
  }
  .popflash-notes {
    font-size: 14px;
    margin-top: 2rem;
    color: #b8b8b8;
  }
}

.game-cancelled {
  color: #676767;
}

.points-positive {
  font-size: 18px;
  font-weight: bold;
  color: $newgreen;
}

.points-negative {
  font-size: 18px;
  font-weight: bold;
  color: $celred;
}

.admin-toolbar {
  .button {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

.game-status-page {
  h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  .selected-map {
    margin-bottom: 0.25rem;
    color: #676767;
    font-size: 14px;
  }

  .popflash-url {
    margin: 0.5rem 0;
  }

  .popflash-notes {
    color: #676767;
    font-size: 14px;
  }
}

.online-users {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: -0.5rem;

  .online-user {
    flex-basis: 200px;
    border: 1px solid #3a3a3a;
    margin: 0.5rem;
    padding: 1px;

    img {
      width: 50px;
      height: 50px;
      display: inline-block;
      margin-right: 0.25rem;
    }
  }
}

.maps-carousel {
  display: flex;

  div {
    min-width: 0;
    margin: 0.25rem;
  }

  img {
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
    border: 3px solid #2b2b2b;
  }

  .map-selected {
    img {
      border: 3px solid $vxblue;
      filter: grayscale(0%);
    }
  }
}

.blank-state {
  min-height: 200px;
  color: #676767;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  height: calc(100vh - 55px - 1rem - 1rem);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-spinner {
  width: 80px;
  height: 80px;
  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $vxblue;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 0.8s infinite ease-in-out;
  animation: sk-bounce 0.8s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(1.0) }
  50% { -webkit-transform: scale(0.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  } 50% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    }
}