@include parallax-init(1, '#wrap');

#wrap {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

}

.browrap {
  margin-top: rem-calc(65);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 4.0625rem);
}

.main-content {
  flex: 1;
  min-height: 50vh;
}

header {
  //background-color: #000;
  color: #FFF;
  position: fixed;
  width: calc(100% - 8px);
  top: 0;
  left: 0;
  //background-color: rgba(0,0,0,0.94);
  background: #090909;
  z-index: 999999;
  height: rem-calc(65);
}

header .small-12 {
  position: relative;
}

header li {
  position: relative;
  display: inline-block;
  margin-right: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-bottom: 2px solid transparent;

  &.active {
    //border-bottom: 2px solid $celred;
  }

  &.list-section-header {
    font-weight: bold;
    text-align: center;
    background: #000;
    font-size: 10px;
    text-transform: uppercase;
    padding: 4px 0 2px;
    color: $celred;
  }

  &.inthemid {
    border-top: 2px solid $celred;
  }
}

header li a {
  color: $celwhite;
  text-transform: uppercase;
  display: block;
  padding: 20px 0 18px;

  &:hover, &:active, &:focus {
    color: $celred;
  }
}

header ul {
  list-style-type: none;
  margin: 0;
  display: inline;
}

header ul.mainnav {
  margin: 0 0 0 11.5rem;

  & > li {
    font-weight: 600;
  }

  li {
    i {
      padding-left: 2px;
      font-size: rem-calc(14);
    }
  }
}

header .logo {
  display: inline-block;
  position: absolute;
  top: 13px;
}

.header-logo {
  width: auto;
  height: 38px;

}

header .login {
  display: inline-block;
  position: absolute;
  right: 1rem;
  padding: 20px 0 18px;

  a {
    color: $celwhite;
    font-size: 15px;

    &:hover {
      color: $celred;
    }
  }

  i {
    margin-left: 3px;
    margin-right: 0;
    position: relative;
    top: 1px;
  }
}

.subnav {
  border: 1px solid #000;
  border-top: 2px solid $celred;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1;
  margin: 0;
  padding: 0;
  top: 63px;
  text-align: left;
  display: none;
  //width: 14rem;
  width: 12.5rem;
  box-shadow: 0px 4px 12px 0px rgba(2, 3, 3, 0.2);

  li {
    background-color: #1A1A1A;
    display: block;
    //margin-bottom: 1px;
    border-bottom: 1px solid #292929;
    margin-right: 0;
    font-weight: 400;

    a {
      padding: 1rem 1rem 1rem 2rem;
      //padding: 0.825rem 0 0.825rem 1.5rem;
      display: block;
      color: #fff;
      text-transform: none;
    }

    &:last-child {
      border-bottom: none;
    }

    i {
      font-size: 1.1rem;
      width:1rem;
      position: relative;
      top: 2px;
      margin-right: 0.75rem;
    }
  }
}

.subnavblu {
  border-top: 2px solid #145dbe;
}

.account-subnav {
  left: -1%;
}

footer {
  border-top: 5px solid $celred;
  padding: 4rem 0;
  background: url(/images/carbonpattern.png);
  transform: translateZ(0.0001px) scale(1.0);

  .footer-logo {
    width: 100px;
    height: auto;
    position: absolute;
  }

  p {
    color: #787878;
    font-size: 15px;
    line-height: 1.3;
    //letter-spacing: 2px;

    &.footer-about {
      margin-left: 116px;
    }
  }

  h4 {
    color: #787878;
    //text-transform: uppercase;
    font-size: rem-calc(17);
  }

  a {
    color: #b7b7b7;
    font-size: 15px;

    &:hover {
      color: $celred;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    i {
      width: 1rem;
      display: inline-block;
      margin-right: 5px;
    }
  }
}