

.panel {
  margin: 2rem 0;
  padding: 1rem;
  background-color: #FFF;
  border: 1px solid #e8eced;
  border-radius: 3px;

  .panel-title {
    font-weight: bold;
    font-size: 14px;
    color: #736e6e;
    text-align: center;
    border-bottom: 1px solid $celred;
    width: 50%;
    margin: 0 auto 1rem;
  }
}

.panel-transparent {
  margin: 2rem 0 0;
  padding: 1rem;
}

.panel-heading {
  text-align: center;
  margin-bottom: 1.25rem;
}

.panel-tall {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-block;
  margin-right: 4px;
}

.login-helper {
  text-align: center;
  color: #555;
  font-size: 14px;
}

.alerts {
  display: inline-block;
  margin-right: 1.5rem;
}

img.grayscale {
  cursor: pointer;
  border-radius: 2px;
  filter: gray;
  -webkit-filter: grayscale(0%);
  transition: all 0.6s ease-in-out;
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(100%);
  transition: all 0.6s ease-in-out;
}

.toast {
  opacity: 1 !important;
}

#toast-container > div {
  opacity: 1 !important;
}

.team-center {
  font-size: 1.5rem;
}

.team-logo-small {
  width: 40px;
  height: 40px;
}

.schedule-table {
  border-collapse: collapse;
  text-align: center;
  thead{
    background: #111;
    border: none;
    color: #777;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    tr, tr:nth-child(odd), tr:nth-child(even) {
      background: #111;
    }
    th {
      text-align: center;
      font-weight: 400;
    }
  }
  td {
    color: #fff;
    padding: 1rem 0;
    font-size: 14px;
  }
  tr:nth-child(odd) {
    background: #1e1e1e;
  }
  tr:nth-child(even) {
    background: #282828;
  }
  a {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }

    &.results {
      padding-left: 1rem;
      display: inline-block;
      font-size: 14px;
      color: $primary-color;

      .icon {
        font-size: 1.5rem;
        display: block;
      }
    }
  }
  img {
    width: 45px;
    height: auto;
    margin-right: 8px;
  }
  .tbd {
    color: #ccc;
  }
  p {
    margin: 0;
  }
}

.timezone-select {
  width: 350px;
}

.standings {
  img {
    height: 45px;
    width: auto;
  }
}

.rowhighlight {
  &:nth-child(odd) td {
    background-color: lighten(#ffffe7, 2%);
  }

  &:nth-child(even) td {
    background-color: darken(#ffffe7, 2%);
  }
}

.upcoming-game {
  position: relative;

  .game-teams {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    pointer-events: none;

    p {
      //display: flex
      width: 100%;
      color: #FFF;
      pointer-events: none;

      img {
        height: 35px;
        width: auto;
      }

      &.team1, &.team2 {
        font-size: 1.25rem;
        margin: 0;
        padding: 0.5rem 2rem;
        background: rgba(0,0,0,0.75);
      }

      &.team1 {
        text-align: left;
      }

      &.team2 {
        text-align: right;
      }

      &.vs {
        text-align: center;
        margin: 0;
        font-size: 1.75rem;
        font-weight: bold;
        -webkit-text-stroke: 1px black;
      }
    }
  }
}


.upcoming-game-time {
  text-align: center;
  font-size: 14px;
  color: #666;
}

.nav-button-flex-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 76px;
}

.no-steam-auth {
  font-size: 17px;

  img {
    width: 130px;
    height: auto;
  }
}

.party-notifier {
  width: 100%;
  background: #FFF;
  top: 65px;
  border-bottom: 1px solid #eee;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0;
  z-index: 999;

  p {
    margin: 0;

    .button {
      margin: 0;
      margin-left: 1rem;
      padding: 0.5rem;
    }
  }
}