.convo-wrap {
  a {
    color: #000;

    &:hover, &:focus, &:active {
      color: #222;
    }
  }
}

.player-message-brief {
  margin-top: 0;
  margin-bottom: 4px;
  display: flex;
  align-items: center;

  &:hover {
    border: 1px solid #e1e5e6;
    box-shadow: 0 0 4px rgba(55,55,55,0.1);
  }

  &.active-convo {
    border: 1px solid #aaa;
    cursor: default;

    &:hover {
      border: 1px solid #aaa;
      box-shadow: none;
    }
  }
}
.player-avatar {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: inline;
  margin-left: 12px;
  margin-right: 12px;
  flex: 0;
}
.player-message {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex: 3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.player-message .previewline {
  color: #949aa6;
  font-size: 15px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.player-message strong {
  display: block;
  padding-top: 5px;
  line-height: 14px;
}
.message-timestamp {
  flex: 2;
  padding-left: 1rem;
  text-align: right;
}
.message-timestamp p {
  color: #949aa6;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}

.message-read-status {
  &.unread-messages {
    font-size: 10px;
    padding: 0;
    background: #7dad08;
    color: #fff;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.read-or-replied {
    padding: 0;
    color: #c9c9c9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    width: 18px;
    height: 18px;
  }
}

.all-conversations {
  .player-avatar {
    width: 50px;
    height: 50px;
  }
  .player-message {
    flex: 5;
  }
  .message-timestamp {
    flex: 1;
  }
  .message-read-status {
    &.read-or-replied {
      width: 24px;
      height: 24px;
      font-size: 1.5rem;
    }
  }
}


.message-toggle {
  position: relative;

  .unread-count {
    position: absolute;
    z-index: 101;
    font-size: 10px;
    font-weight: 300;
    padding: 0;
    right: -13px;
    top: -5px;
    background: #7dad08;
    color: #fff;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

    .count {
      display: block;
    }
  }
}

.message-subnav {
  border-right: none;
  border-left: none;
  border-bottom: none;
  width: 350px;
  left: -100%;

  .view-all {
    display: none;
  }

  .player-message-brief {
    padding-left: 0.5rem;
    padding-right: 0.75rem;
    border-radius: 0;
    margin: 0;

    &.active-convo {
      border: 1px solid #e1e5e6;
      cursor: pointer;
    }

    &:hover {
      background-color: #fdfdfe;
    }
  }

  .conversations .convo-wrap {
    a {
      color: #000;

      &:hover, &:active, &:focus {
        color: #000;
      }
    }
  }

  .view-all-messages {
    background: #e8eced;
    color: #1A1A1A;
    width: 100%;
    border-radius: 0;
    padding: 0.5rem 0;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    text-align: center;
  }
}



.chat-wrap {
  /*margin-top: 2rem;*/
  display: flex;
  margin-bottom: 10px;
}
.speaker-avatar {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  display: inline;
  margin-right: 12px;
  flex: 0;
}
.message {
  margin: 0 0 0 1.25rem;
  flex: 5;
  position: relative;
  background: #ebedf2;
  padding: 1rem;
  font-size: 17px;
  line-height: 25px;
  border-radius: 3px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}
.message-white {
  background: #fff;
}
.message p {
  margin: 0;
}
.message .message-body {
  flex: 5;
  margin-bottom: 1.25rem;
}
.message::after {
  content: " ";
  position: absolute;
  display: block;
  top: 50px;
  left: -22px;
  height: 0;
  width: 0;
  border-top: 22px solid #ebedf2;
  border-left: 22px solid transparent;
}
.message-white::after {
  content: " ";
  position: absolute;
  display: block;
  top: 50px;
  left: -22px;
  height: 0;
  width: 0;
  border-top: 22px solid #fff;
  border-left: 22px solid transparent;
}
.message .timestamp {
  font-size: 13px;
  color: #aeb4bf;
  flex: 1
}
.cooldividier {
  display: inline-block;
  margin: 0 5px 2px;
  width: 4px;
  height: 4px;
  background: #aeb4bf;
  border-radius: 100%;
}
.cooldivider {
  display: inline-block;
  margin: 0 5px 2px;
  width: 4px;
  height: 4px;
  background: #aeb4bf;
  border-radius: 100%;
}

.newmessage {
  resize: none;
  padding: 9px;
  padding-right: 16px;
  background: #FFF;
  border: 1px solid #ccd0d9;
  color: #2a2f35;
  margin: 0 10px 10px 0;
  border-radius: 3px;
  font-size: 15px;
  line-height: 22px;
  min-height: 100px;
  max-height: 400px;
  box-shadow: none !important;
  -webkit-transition: border-color 75ms ease-in;
  -moz-transition: border-color 75ms ease-in;
  transition: border-color 75ms ease-in;
}

.message-input {
  display: block;
}

.sendbutton {
  min-width: 120px;
  margin: 0;
}

.messages-header {
  margin-top: 2rem;
}

.messages-container {
  position: relative;
  .show-older {
    position: absolute;
    background: -moz-linear-gradient(top, rgba(248,248,248,1) 20%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(248,248,248,1) 20%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(248,248,248,1) 20%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 100%;
    text-align: center;
    z-index: 99;

    .button-outline {
      border: 1px solid #787878;
      color: #787878;
      font-weight: 300;
      margin: 0 0 3rem;
      background: #f8f8f8;
    }
  }
  .messages {
    margin-top: 1rem;
    overflow: hidden;
  }
}

.button-outline-skinny {
  border: 1px solid #787878;
  color: #787878;
  font-weight: 300;
  margin: 0;
  background: #f8f8f8;
}

.view-all {
  text-align: left;
  margin-top: 0.5rem;
}

