.user-sidebar {
  text-align: center;

  .user-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 0.25rem;
  }
  .user-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .steam-verified {
    padding: 0.5rem 0;
    font-size: 13px;
    text-transform: uppercase;
    background: #266110;
    color: #fff;
    border-radius: 1rem;
    max-width: 180px;
    margin: auto;
  }

  .team-info {
    img {
      width: 45px;
      height: auto;
      border-radius: 4px;
      margin-right: 0.375rem;
      margin-bottom: 0.5rem;
    }
    .team-name {
      display: inline-block;
      font-size: 17px;
      font-weight: bold;
    }
  }
}

.registration-status {
  .appstatus {
    background: #ddd;
    padding: 0.75rem;
  }
}